PORT = 

MONGO_URI = 

ACCESS_TOKEN_SECRET = 
REFRESH_TOKEN_SECRET = 

ACCESS_TOKEN_EXPIRE = 
REFRSH_TOKEN_EXPIRE = 

CLIENT_URI = 

SECURE_COOKIES = false   # set it to true in production so site uses https

EMAIL_USER = 
EMAIL_PASS = 